<ion-header></ion-header>
<ion-toolbar class="top">
  <div class="titulo">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button icon="arrow-dropleft" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </div>
</ion-toolbar>

<ion-content>
  <ion-searchbar placeholder="Pesquisar" (ionClear)="doSearchClear()" (ionChange)="doSearchBarChange($event)">
  </ion-searchbar>

  <ion-list *ngIf="!consultas.length">
    <ion-item *ngFor="let consulta of [0,1,2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let consulta of consultas">
      <ion-item button [routerLink]="['/consulta/edit/', consulta.id_cons]">
        <h2 slot="start" style="font-size: 64px;"> 
          <ion-icon style="background-image: url('../../../assets/icon/cruz.png'); background-size: cover;"></ion-icon>
        </h2>
        <ion-label>Consulta
          <p><span>Dia:&nbsp;</span> {{ consulta.dia }}</p>          
          <p><span>Hora:&nbsp;</span> {{ consulta.horario }}</p>
          <span style="text-align: center; font-size: 14px; font-weight: bold;">Informação do Pet</span><br/>
          <p><span>Dia:&nbsp;</span> {{ consulta.nome_pet }}</p>          
          <p><span>Dia:&nbsp;</span> {{ consulta.raca }}</p>                    
          <span style="text-align: center; font-size: 14px; font-weight: bold;">Informação do Tutor</span><br/>
          <p><span>Tutor:&nbsp;</span> {{ consulta.nome_tutor }}</p>
          <p><span>E-mail:&nbsp;</span>{{ consulta.email }}</p>
          <p><span>Telefone:&nbsp;</span>{{ consulta.telefone }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(consulta)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
 


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['/home']">
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>